* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "Sans_Flex_Bold";
    src: url("./fonts/Google_Sans_Flex/static/GoogleSansFlex_120pt-Bold.ttf") 
         format("truetype");
    
}

/* Layout */
.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

.sidebar {
    background-color: #0f77ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 20px;
    background-color: #e9e9e9;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Sans_Flex_Bold";
    color:white;
}

.sideElement {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    /*margin-bottom: 10px;
    border-radius: 5px;*/
    cursor: pointer;
    /*transition: background-color 0.3s ease;*/
}

.svg1 {
    width: 40px;
    height: 40px;
    fill: rgb(255, 255, 255);
}

h1 {
    display: inline-block;
    width: auto;
}