* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "Sans_Flex_Bold";
    src: url("./fonts/Google_Sans_Flex/static/GoogleSansFlex_120pt-Bold.ttf") 
         format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Sans_Flex_Regular";
    src: url("./fonts/Google_Sans_Flex/static/GoogleSansFlex_120pt-Regular.ttf") 
         format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Sans_Flex_SemiBold";
    src: url("./fonts/Google_Sans_Flex/static/GoogleSansFlex_120pt-SemiBold.ttf") 
         format("truetype");
    font-style: normal;
}

/* Layout */
.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

.sidebar {
    background-color: #0f77ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content {
    background-color: #e9e9e9;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    /*margin-bottom: 30px;*/
    font-family: "Sans_Flex_Bold";
    color:white;
    font-size: 30px;
}


.sideElement {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    /*margin-bottom: 10px;
    border-radius: 5px;*/
    cursor: pointer;
    font-family: "Sans_Flex_SemiBold";
    font-size: 14px;
    color:white;
    /*transition: background-color 0.3s ease;*/
}

.sideElement:hover {
    background-color: #3f92ff;
}

svg.logoIcon {
    width: 40px;
    height: 40px;
}

.icon {
    fill: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
}

/* Content Area*/
.content {
    padding: 0px;
}

.header {
    padding: 10px 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20PX;
}

input[type="search"] {
    width: 100%;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 5px;
    font-size: 16px;
    border: 0;
}

.headerIcon {
    fill: #000000;
    width: 30px;
    height: 30px;
}

.bell {
    fill: #000000;
    width: 25px;
    height: 25x;
}

.content .header .topHeader {
    background-color: white;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    /*align-items: center;*/
}

.one {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
}

.two {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 40%;
}

.two p {
    font-family: "Sans_Flex_SemiBold";
    color: black;
    font-size: 18px;
}

img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.one input[type="search"] {
    /*width: 100%;*/
    margin-right: 50px;
}

/* Bottom Header */
.bottomHeader {
    display: flex;
}

.bottomHeader .two {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    width: 35%;
}

.bottomHeader .two .greeting {
    font-family: "Sans_Flex_SemiBold";
    color: black;
    font-size: 12px;
}

.bottomHeader .one {
    width: 10%;
}

.bottomHeader .one img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.bottomHeader button {
    background-color: #0f77ff;
    color: white;
    border: 0;
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Sans_Flex_SemiBold";
    font-size: 14px;
    cursor: pointer;
}

.bottomHeader button:hover {
    background-color: #3f92ff;
}

.bottomHeader .three {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 55%;
}